*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #101010;
    color: blanchedalmond;
    text-align: center;
    font-family: sans-serif;
}
video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.intro{
    height: 100vh;
}

